{% extends "discussion/base.html" %}
{% load url from future %}

{% block content %}
<h2>{{ object }}</h2>
<div>
    <form action="{% url 'discussion_add_post' discussion_slug=object.slug %}">
        {{ form }}
        <input type="submit" value="Add a post" />
    </form>
    {% for post in object.post_set.all %}
        {% url 'discussion_post' pk=post.pk discussion_slug=object.slug as post_detail %}
        <div>
            {% include 'discussion/_post_detail.html' %}
            <a href="{{ post_detail }}" class="post-permalink">Full conversation</a>
            <div>
                {% for comment in post.comment_set.all %}
                {% include 'discussion/_comment_detail.html' %}
                {% endfor %}
            </div>
            {% comment_form post %}
        </div>
    {% endfor %}
</div>
{% endblock %}

