{% extends "discussion/base.html" %}

{% block content %}
    {% include 'discussion/_post_detail.html' %}
    {% for comment in post.comment_set.all %}
        {% include 'discussion/_comment_detail.html' %}
    {% endfor %}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    <a href="{% url discussion slug=post.discussion.slug %}">Back to {{ post.discussion }}</a>
{% endblock %}
