{% extends "discussion/base.html" %}

{% block content %}
    <h2>Global Search</h2>
    <form action="{% url discussion_search %}" method="POST">
        {% csrf_token %}
        {{ search_form }}
        <input type="submit" value="Submit">
    </form>

    <hr>

    {% if object_list %}
        <h2>Results</h2>
        <ul>
            {% for post in object_list %}
            <li><a href="{% url discussion_post discussion_slug=post.discussion.slug slug=post.slug %}">{{ post.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results</p>
    {% endif %}
{% endblock %}

